html {
  scroll-behavior: smooth;
  background-color: rgb(80, 199, 99);
} //When we click nav buttons it smooths scrolls it down
.nav_bar {
  list-style-type: none;
  margin: 0;
  font-size: 3em;
  text-align: center;
  position: sticky;
  padding-bottom: 50px;
  //background-color: #ffdfd3;
  li {
    //we have to put "display: inline" without the a
    display: inline;
    padding: 0px 90px 0px; //top, right/left, bot. Changing top and bot do nothing
  }
  li a {
    // "a" just means for the a tag
    color: black;
    text-decoration: none;
  }
  li a:hover {
    background-color: #e27a51;
  }
}

.intro {
  font-size: 3em;
  text-align: center;
  p {
    font-size: 0.6em;
    text-align: left;
  }
  .meImage {
    float: left;
    margin: -50px 50px 0px 50px;
  }
}
.proj-h2 {
  font-size: 3em;
  text-align: center;
  align-items: center;
}
.proj-container {
  // font-size: 3em;
  // text-align: center;
  // align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  // background-color: rgb(238, 213, 167);
}
.project_element {
  border-radius: 20px;
  background-color: rgb(10, 122, 47);
  text-align: center;
  width: 35rem;
  img {
    max-width: 450px;
    max-height: 300px;
  }
  h4 {
    font-size: 3em;
  }
  p {
    font-size: 1.5rem;
  }
  margin: 30px;
  // width: 550px;
  // max-width: 700px;
  // margin: auto;
  // width: 50%;
  // img {
  //   width: auto;
  //   height: 400px;
  // }
  // p {
  //   text-align: left;
  //   font-size: 50%;
  //   padding-left: 30px;
  // }
  // margin: 0;
  // padding: 0;

  // .proj2 {
  //   height: 500px;
  //   width: auto;
  // }
  // .proj3 {
  //   height: 400px;
  //   width: auto;
  // }
  // .proj4 {
  //   height: auto;
  //   width: 550px;
  // }
  // margin: auto; //Literally only centered my div after I put it all the way at the bottom. Broooooooooooo
}
.experience {
  font-size: 3em;
  padding-left: 500px;
  padding-right: 500px;
}
