html {
  scroll-behavior: smooth;
  background-color: rgb(80, 199, 99);
} //When we click nav buttons it smooths scrolls it down
.nav_bar {
  list-style-type: none;
  margin: 0;
  font-size: 300%;
  text-align: center;
  position: sticky;
  padding-bottom: 50px;
  //background-color: #ffdfd3;
  li {
    //we have to put "display: inline" without the a
    display: inline;
    padding: 0px 90px 0px; //top, right/left, bot. Changing top and bot do nothing
  }
  li a {
    // "a" just means for the a tag
    color: black;
    text-decoration: none;
  }
  li a:hover {
    background-color: #e27a51;
  }
}

.intro {
  font-size: 300%;
  padding-left: 500px;
  padding-right: 500px;
  p {
    font-size: 60%;
    text-align: left;
  }
}
.projects {
  font-size: 300%;
  padding-left: 500px;
  padding-right: 500px;
}
.project_element {
  border-radius: 20px;
  background-color: rgb(10, 122, 47);
  text-align: center;
  width: 550px;
  height: auto;
  img {
    width: auto;
    height: 400px;
  }
  p {
    text-align: left;
    font-size: 50%;
    padding-left: 30px;
  }
  margin: 0;
  padding: 0;

  .proj2 {
    height: 500px;
    width: auto;
  }
  .proj3 {
    height: 400px;
    width: auto;
  }
  .proj4 {
    height: auto;
    width: 550px;
  }
}
